.container{

    &.content{
        margin-top: 110px;
    }

    select{
        display: block;
        width: 70px;
    }
    #search-bar{

        .input-field{
            margin-top: 0px;
        }

        #search{
            height: 50px;
            margin-bottom: 0;
            padding-left: 50px;
            box-sizing: border-box;
        }

        .close-search{
            padding-top: 10px;
        }
    }

    .category-btn{
        margin-top: 6px;
        width: 100%;
    }
}

.wrapper{
    padding: 20px;
    box-sizing: border-box;
    background-color: $grey-bg;
}

.upload-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
}