footer{
    display: block;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: $green-bg !important;

    p{
        padding: 20px 0px 20px 0px;
        box-sizing: border-box;
        color: $text-color;
    }

    &:before{
        content: '';
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}