#search{
    position: relative;

    #input{
        margin-bottom: 0px;
    }

    #resultWrap{
        display: block;
        position: absolute;
        z-index: 999;
        width: 100%;
        background-color: #fff;
        webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

        .results{
            padding: 15px;
            box-sizing: border-box;
            margin-bottom: 0px;

            .result{
                border-bottom: 1px solid $green-bg;
                margin: 10px 0 10px 0;

                p{
                    margin: 0px;
                }
            }
        }
    }  
}